# Test reports（測試報告）

當運行單元測試的時候，Gradle會輸出一份HTML格式的報告以方便查看結果。
Android plugin也是基於此，並且擴展了HTML報告文件，它將所有連接設備的報告都合併到一個文件裡面。
